/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $normalWeight;
  min-width: 320px;
}

/* HEADER  */
#headerWrapper {
  background-color: #d4b439;
  box-shadow: 0px 4px 4px rgba(34, 34, 34, 0.1);
}
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
  img {
    margin-left: 0.6rem;
  }
  h1 {
    font-size: 1.6rem;
    font-weight: $boldWeight;
    color: #333333;
  }
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav {
  button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 1.7rem;
    color: #333;
    padding: 1.5rem 2vw 0.5rem 1rem;
    padding-right: 1.3rem;
  } // end button

  ul {
    background-color: $menuColor;
    position: absolute;
    right: 0;
    width: 100%;
    display: none;
  } // end ul

  ul.open {
    display: block;
    padding-left: 0;
    display: block;
    margin-top: 0.2rem;
  }

  ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
  }

  ul li a {
    display: block;
    padding: 1rem 2vw;
    font-weight: $lightWeight;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    text-align: right;
    padding-right: 0.8rem;
  }

  ul li.active a {
    background-color: darken($menuColor, 8%);
  }

  ul li a:hover {
    background-color: darken($menuColor, 4%);
  }
} // End of nav

/* MAIN  */
main {
  p {
    padding: 0.5rem 1rem;
    color: #333;
    line-height: 140%;
  }
  h1 {
    padding: 1rem 2vw 0.5rem 2vw;
    font-size: 1.5rem;
    color: #333333;
    font-weight: $normalWeight;
    padding-left: 1rem;
  }
  .hero {
    width: 100%;
  }
  .hero img {
    width: 100%;
    height: auto;
  }
} // end main

main img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

// Styling the rows
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  padding: 0 8px;
  //border: greenyellow solid 2px;
}

// Styling the columns
.column {
  padding: 0 8px;
  margin: 8px 0;
  //border: pink dashed 2px;
}

.column img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

// Create the for Loop
@for $i from 1 through 12 {
  $w: calc($i / 12) * 100%;
  .small-#{$i} {
    flex-basis: $w;
  }
}

.line,
.round,
.fill,
.shadow {
  padding: 8px 12px;
}
.card-h2 {
  color: #333333;
  a {
    text-decoration: none;
    color: #333333;
  }
}
.line {
  border: 1px #bbb solid;
}
.round {
  border-radius: 9px;
}
.fill {
  background-color: #d4b439;
}
.shadow {
  box-shadow: 0 0 10px #aaa;
}
.center {
  text-align: center;
}
.padleft p {
  padding-left: 0;
} // About Us & Contact Us
.padmartop p {
  padding-top: 0;
  margin-top: 0;
}

/* FOOTER  */
#footerWrapper {
  background-color: #1b1b1b;
}
footer {
  border-top: 4px solid #d4b439;
  font-size: 0.85rem;
  padding: 1rem 0;
  color: #bbb;
  text-align: center;
  a {
    color: #eee;
  }
}
