$primaryColor: #cc7a26;
$secondaryColor: #265b7d;
$fontColor: #151515;
$menuColor: #4b63ad;

$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$normalWeight: 400; // In - Use

$boldWeight: 700; // In - Use

$gutter: 16px;
